h1{
  color: darkblue;
  font: 40px;
  text-align: center;
}
h2{
  color: darkmagenta;
  font: 30px;
  text-align: center;
}
h3{
  color:maroon;
  font: 20px;
  text-align: center;
}

 /* #b1, #b2, #b3, #b4, #b5, #b6, #b7, #b8, #b9{
  width: 100px;
  height: 100px;
  margin: 1px;
  border: 1px solid black;
  border-radius: 6px;
  font-size: 20px;
  text-align: center;

}
.pl1:after {
  content: '';
  height: 60px;
  border-left: 2px solid rgb(0, 0, 0);
  position: absolute;
  transform: rotate(45deg);
  left: 28px;
}

.pl1:before {
  content: '';
  height: 60px;
  border-left: 2px solid rgb(0, 0, 0);
  position: absolute;
  transform: rotate(-45deg);
  left: 28px;
}
img {
  max-width: 100%;
  max-height: 100%;
 }
 .row:after {
  content: "";
  display: table;
  clear: both;}

  .column {
    float: left;
    width: 28.3%;
    padding: 5px;
  }

 .cat{
  height: 200px;
  width: 200px;
 }

 .myButton{
  background:url("box.png") no-repeat;
  cursor:pointer;
  border:none;
  width:100px;
  height:100px;
}

.playerX{
  height: 100px;
  width: 100px;
  background: url("X.jpeg") no-repeat;
}

.playerO{
  height: 100px;
  width: 100px;
  background: url("O.png") no-repeat;
}

.box{
  height: 100px;
  width: 100px;
  background:url("box.png") no-repeat;
  margin: auto;
}

#container{
  height: 1000px;
  height: 1000px;
  margin:auto;
}

.box{
  width: 500px;
  height: 500px;
  background: url('box.png');
  margin: auto;
}

.playerX{
  width: 500px;
  height: 500px;
  background: url('O.png');
  margin: auto;
}
*/ 




